@import "../../styles/variables.scss";

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: $color-two;
  padding: 0.5rem 1rem;
  border-radius: 1rem;

  .counter-btn-add,
  .counter-btn-subtract {
    border: none;
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: $color-tree;
    color: black;
    cursor: pointer;
  }
}
